<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="assets/libs/leaflet/dist/leaflet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/libs/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/fonts/wedding-icon-font/flaticon.css">
    <link rel="stylesheet" href="assets/fonts/fontello/css/fontello.css">
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="stylesheet" href="assets/css/inspect-style.css">


    <title>Marriage Garden Dekho</title>
</head>

<body>
    <!-- navbar -->
    <div class="navbar-transparent navbar-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/"> 
                            Marriage Garden Dekho
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto ms-lg-3">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="garden-listing">Listing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about-us">About us</a>
                                </li>
                            </ul>
                            <div class="p-3 p-lg-0">

                                <a href="/signin" class="btn btn-secondary shadow-sm">Sign in</a>
                                <a href="#" class="btn btn-primary shadow-sm">Get Started Now</a>



                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>