{{>header}}
    <main>
        <!-- pageheader -->
        <section class="pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- breadcrumb -->
                        <div class="mt-4">
                            <h1 class="display-6 fw-semi-bold">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pageheader-->

        <!-- who we are -->
        <section class="py-lg-10 py-6">
            <div class="container">
                <div class="row align-items-center mb-lg-14 mb-10">
                    <div class="col-lg-6">
                        <div class="mb-5">
                            <img src="../assets/images/post/about-img-4.jpg" alt="about"
                                class="img-fluid rounded w-100">
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-5">
                        <h2>Who we are</h2>
                        <p class="lead">VendorHub is the largest and most trusted global directory connecting engaged
                            couples with local wedding professionals.</p>
                        <p>Maecenas semper dolor metus, a convallis ipsum condimentum ras eros ex, euismod vitae congue
                            ullamcorper id ligula. Maecenas semper dolor metusm ras eros ex, euismod vitae congue
                            ullamcorper id ligula.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-3 mb-lg-0">
                            <div class="card-body p-lg-8">
                                <div class="text-center">
                                    <div class="icon-shape icon-xxl bg-primary-100 rounded-circle mb-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" class="bi bi-rocket-takeoff-fill text-primary"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.578 3.578 0 0 0-.108-.563 2.22 2.22 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2.35 2.35 0 0 0-.16-.045 3.797 3.797 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.552 2.552 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526l.24-2.408Zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361.599.599.437 1.732-.36 2.531Z" />
                                            <path
                                                d="M5.205 10.787a7.632 7.632 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925Z" />
                                        </svg>
                                    </div>
                                    <h3>Our Mission</h3>
                                    <p class="mb-0">Quisque consectauris elurpis faucibus dictum sium mi egetallis
                                        aliquam metus
                                        ipsum volutpat nisperdi elibero.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3 mb-lg-0">
                            <div class="card-body p-lg-8">
                                <div class="text-center">
                                    <div class="icon-shape icon-xxl bg-primary-100 rounded-circle mb-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" class="bi bi-eye-fill text-primary" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                            <path
                                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                        </svg>
                                    </div>
                                    <h3>Our Vision</h3>
                                    <p class="mb-0">Maecenas semper dolor metus, a convallis condimentum, euismod
                                        vitae congue ullamcorper id ligula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3 mb-lg-0">
                            <div class="card-body p-lg-8">
                                <div class="text-center">
                                    <div class="icon-shape icon-xxl bg-primary-100 rounded-circle mb-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" class="bi bi-award text-primary" viewBox="0 0 16 16">
                                            <path
                                                d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z" />
                                            <path
                                                d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                        </svg>
                                    </div>
                                    <h3>Our Achievement</h3>
                                    <p class="mb-0">Maecenas semper dolor metus, a convallis ras eros ex, euismod
                                        vitae congue ullamcorper id ligula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- who we are -->
        <!-- vendor employee -->
        <section class="py-lg-10 py-6 bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <div class="text-center mb-8 mb-md-0">
                            <h2 class="text-white display-6 fw-bold">50,000</h2>
                            <h3 class="text-white mb-0">Vendor</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="text-center mb-8 mb-md-0">
                            <h2 class="text-white display-6 fw-bold">150</h2>
                            <h3 class="text-white mb-0">Employee</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="text-center ">
                            <h2 class="text-white display-6 fw-bold">5000</h2>
                            <h3 class="text-white mb-0">Reviews</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="text-center ">
                            <h2 class="text-white display-6 fw-bold">9</h2>
                            <h3 class="text-white mb-0">Offices</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- vendor employee -->
        <!-- what we start-->
        <section class="py-10 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="text-center mb-8">
                            <h2>What we do</h2>
                            <p>Sed iaculis elit sed lectus molestie dictum. Integer vehicula malesuada euismod. Vivamus
                                tellus tortor, accumsan id massa quis.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                        <div class="text-center px-xxl-6 mb-10 mb-md-0">
                            <div class="icon-shape icon-xxl bg-info rounded-circle mb-6">
                                <i class="icon-038-bouquet display-6 text-white"></i>
                            </div>
                            <h3>Hire the right vendor</h3>
                            <p>Sed iaculis elit sed lectus molestie dictger vehicullesuada euismod. Vivamus tellusassa
                                quis,
                                pretium convallis augue.</p>
                            <a href="#" class="btn btn-outline-primary">Find Now</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                        <div class="text-center px-xxl-6 mb-10 mb-md-0">
                            <div class="icon-shape icon-xxl bg-danger rounded-circle mb-6">
                                <i class="icon-013-calendar text-white display-6"></i>
                            </div>
                            <h3>Wedding Planning Tools</h3>
                            <p>Phasellus efficitur auctor felis, sit amet aliquet metus ullamcorper at. Aliquam rhoncus
                                tempor erat quis accumsan.
                            </p>
                            <a href="#" class="btn btn-outline-primary">Start Your Planning</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                        <div class="text-center px-xxl-6 mb-10 mb-md-0">
                            <div class="icon-shape icon-xxl bg-warning rounded-circle mb-6">
                                <i class="icon-021-love-1 text-white display-6"></i>
                            </div>
                            <h3>Wedding Tips & advice</h3>
                            <p>Vivamus tellus tortor, accumsan id massa quis, pretium convallis augue. Aliquam rhoncus
                                tempor erat quis accumsan.</p>
                            <a href="#" class="btn btn-outline-primary">Read Our Articles</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- customer feedback -->
        <!-- core start-->
        <section class="py-lg-10 py-6">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="mb-8">
                            <h2>Core Values</h2>
                            <p>Sed iaculis elit sed lectus molestie dictum. Integer vehicula malesuada euismod.
                                Vivamus tellus tortor, accumsan id massa quis.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="mb-0 border-bottom d-inline border-primary border-2 pb-1">Leadership
                                        </h3>

                                    </div>
                                    <div class="col-md-8">
                                        <p class="mb-0">The courage to shape a better future. Phasellus efficitur auctor
                                            felis, sit
                                            amet aliquet metus
                                            ullamcorper at. Aliquam rhoncus tempor erat quis accumsan.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="mb-0 border-bottom d-inline border-primary border-2 pb-1">Perfactions
                                        </h3>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="mb-0">Phasellus efficitur auctor felis, sit amet aliquet metus
                                            ullamcorper at.
                                            Aliquam rhoncus tempor erat quis accumsan.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="mb-0 border-bottom d-inline border-primary border-2 pb-1">Focus on
                                            Impact</h3>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="mb-0">Fusce nec arcu ipsum. Aenean sit amet ante ante. Nulla ultricies
                                            vehicula
                                            purus id malesuada.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="mb-0 border-bottom d-inline border-primary border-2 pb-1">Create a
                                            Cluture</h3>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="mb-0">Phasellus efficitur auctor felis, sit amet aliquet metus
                                            ullamcorper at.
                                            Aliquam rhoncus tempor erat quis accumsan.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="mb-0 border-bottom d-inline border-primary border-2 pb-1">Supporting
                                            Sustainability</h3>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="mb-0">Maecenas commodo erat sit amet luctus aliquet. Maecenas ut
                                            mauris id orci
                                            lobortis tincidunt.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="mb-0 border-bottom d-inline border-primary border-2 pb-1">Passion
                                        </h3>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="mb-0">Nullam placerat, leo at vulputate iaculis, arcu dolor eleifend
                                            lorem, sed
                                            sodales ligula sem ornare ligula.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </section>
        <!-- core close-->
    </main>
    <!-- footer -->
    <!-- footer -->

{{>footer}}