{{>header}}
     <main>
  <!-- pageheader -->
  <section class="pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- breadcrumb -->
          <div class="mt-4">
            <h1 class="display-6 fw-semi-bold">Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-lg-8 pb-lg-10 py-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mb-6 mb-md-0">
          <!-- post -->
          <div class="mb-4 mb-lg-8">
           <!-- img -->
           <div class="img-hover mb-4">
            <a href="blog-single.html"><img src="../assets/images/blog/wc-img-1.jpg" alt="" class="img-fluid"></a></div>
            <!-- content -->
            <div>
              <a href="#" class="mb-3 d-block lh-1 fw-semi-bold">Wedding Decor</a>
              <div class="mb-4">
                <h3>
                  <a href="blog-single.html" class="text-inherit">Lorem ipsum dolor sit amet consectetur adipiscin</a></h3>
                <!-- meta -->
                <div class="fs-5">
                     <span>By<a href="#" class="ms-2 text-inherit fw-semi-bold">RealWed</a></span>
                  <span class="ms-2">/ <span class="ms-2 text-muted"> December 5, 2023</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-6 mb-md-0">
            <!-- post -->
            <div class="mb-4 mb-lg-8">
             <!-- img -->
             <div class="img-hover mb-4">
              <a href="blog-single.html"><img src="../assets/images/blog/wc-img-2.jpg" alt="" class="img-fluid"></a></div>
              <!-- content -->
              <div>
                <a href="#" class="mb-3 d-block lh-1 fw-semi-bold">Wedding Venue</a>
                <div class="mb-4">
                  <h3>
                    <a href="blog-single.html" class="text-inherit">Mauris et tortor quis sapien lobortis tincidunt.</a></h3>
                  <!-- meta -->
                  <div class="fs-5">
                       <span>By<a href="#" class="ms-2 text-inherit fw-semi-bold">RealWed</a></span>
                    <span class="ms-2">/ <span class="ms-2 text-muted"> December 20, 2023</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-6 mb-md-0">
            <!-- post -->
            <div class="mb-4 mb-lg-8">
             <!-- img -->
             <div class="img-hover mb-4">
              <a href="blog-single.html"><img src="../assets/images/blog/wc-img-3.jpg" alt="" class="img-fluid"></a></div>
              <!-- content -->
              <div>
                <a href="#" class="mb-3 d-block lh-1 fw-semi-bold">Wedding Services</a>
                <div class="mb-4">
                  <h3>
                    <a href="blog-single.html" class="text-inherit">Donec iaculis nulla sit amet nibh cursus ullamcorper.</a></h3>
                  <!-- meta -->
                  <div class="fs-5">
                       <span>By<a href="#" class="ms-2 text-inherit fw-semi-bold">RealWed</a></span>
                    <span class="ms-2">/ <span class="ms-2 text-muted"> December 3, 2023</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-6 mb-md-0">
            <!-- post -->
            <div class="mb-6">
               <!-- img -->
               <div class="img-hover mb-4">
                <a href="blog-single.html"><img src="../assets/images/blog/wc-img-4.jpg" alt="" class="img-fluid"></a></div>
              <!-- content -->
              <div>
                <a href="#" class="mb-3 d-block lh-1 fw-semi-bold">Wedding Venue</a>
                <div class="mb-4 mb-lg-8">
                  <h3>
                    <a href="blog-single.html" class="text-inherit">Aenean sagittis nibh et nulla ullamcorper fringilla.</a></h3>
                  <!-- meta -->
                  <div class="fs-5">
                       <span>By<a href="#" class="ms-2 text-inherit fw-semi-bold">RealWed</a></span>
                    <span class="ms-2">/ <span class="ms-2 text-muted"> December 8, 2023</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-6 mb-md-0">
            <!-- post -->
            <div class="mb-6">
              <!-- img -->
              <div class="img-hover mb-4">
              <a href="blog-single.html"><img src="../assets/images/blog/wc-img-5.jpg" alt="" class="img-fluid"></a></div>
              <!-- content -->
              <div>
                <a href="#" class="mb-3 d-block lh-1 fw-semi-bold">Wedding Venue</a>
                <div class="mb-4 mb-lg-8">
                  <h3>
                    <a href="blog-single.html" class="text-inherit">Duis rhoncus mauris ac odio lacinia molestie.</a></h3>
                  <!-- meta -->
                  <div class="fs-5">
                       <span>By<a href="#" class="ms-2 text-inherit fw-semi-bold">RealWed</a></span>
                    <span class="ms-2">/ <span class="ms-2 text-muted"> December 12, 2023</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-6 mb-md-0">
            <!-- post -->
            <div class="mb-6">
              <!-- img -->
              <div class="img-hover mb-4">
              <a href="blog-single.html"><img src="../assets/images/blog/wc-img-6.jpg" alt="" class="img-fluid"></a></div>
              <!-- content -->
              <div>
                <a href="#" class="mb-3 d-block lh-1 fw-semi-bold">Wedding Venue</a>
                <div class="mb-4 mb-lg-8">
                  <h3>
                    <a href="blog-single.html" class="text-inherit">Lorem ipsum dolor sit amet consectetur adipiscin</a></h3>
                  <!-- meta -->
                  <div class="fs-5">
                       <span>By<a href="#" class="ms-2 text-inherit fw-semi-bold">RealWed</a></span>
                    <span class="ms-2">/ <span class="ms-2 text-muted"> December 16, 2023</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <!-- pagination -->
           <div>
            <nav aria-label="">
              <ul class="pagination">
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </section>
</main>
    <!-- footer -->
    <!-- footer -->
{{>footer}}