<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from preview.easetemplate.com/realwed/pages/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Apr 2023 09:09:20 GMT -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!-- Libs -->
    <link rel="stylesheet" href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/fonts/wedding-icon-font/flaticon.css">
    <link rel="stylesheet" href="../assets/fonts/fontello/css/fontello.css">





    <!-- Theme CSS -->
    <link rel="stylesheet" href="../assets/css/theme.min.css">
    <title>Sign up Template - Wedding Listing and Directory Template - RealWed</title>

</head>

<body>

    <!-- sign up -->
    <section class="bg-light py-8 py-md-4 py-lg-0 ">
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center no-gutters min-vh-100 ">
                <div class="col-lg-5 col-md-7">
                    <!-- logo -->
                    <div class="text-center my-4">
                        <a href="../index.html">
                            
                        </a>
                    </div>
                    <!-- card -->
                    <div class="card border-0 shadow rounded-4">
                        <!-- card body -->
                        <div class="card-body p-6">
                            <!-- form -->
                            <form class="needs-validation" novalidate method="post" action="/signup">
                                <h1 class="h3 mb-3">Sign up with your email</h1>
                                <!-- name -->
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="name" placeholder="Your name" name="name" required>
                                    <label for="name" class="form-label">First and last name</label>
                                    <div class="invalid-feedback">
                                        Please enter yourname.
                                    </div>
                                </div>
                                <!-- email -->
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="email" placeholder="Add email address"
                                        name="email" required>
                                    <label for="email" class="form-label">Email</label>
                                    <div class="invalid-feedback">
                                        Please enter email.
                                    </div>
                                </div>
                                <!-- password -->
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="password" placeholder="**" name="password" required>
                                    <label for="password" class="form-label">Password</label>
                                    <div class="invalid-feedback">
                                        Please enter password.
                                    </div>
                                </div>
                                <!-- calender -->
                                <div class="form-floating mb-3">
                                    <select id="type" class="form-control" name="type" placeholder="Account type">
                                        <option class="form-control" value="vendor" class="form-label">User</option>
                                        <option  class="form-control" value="user" class="form-label">Vendor</option>
                                    </select>
                                </div>
                                <!-- text -->
                                <div class="mb-3">
                                    {{!-- <p class="fs-5 lh-2">Byclicking'Request pricing', I agree to RealWed <a
                                            href="#">Privacy
                                            Policy</a> and <a href="#">Terms of Use</a></p> --}}

                                </div>
                                <!-- button -->
                                <div class="d-grid mb-3">
                                    <button type="submit" name="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </form>
                            <div class="mb-5">
                                <p>Already have an account? <a href="signin">Sign in</a></p>
                            </div>
                            <div class="border-bottom"></div>
                            <div class="text-center mt-n3">
                                <small class="bg-white px-3">OR</small>
                            </div>
                            <!-- social button -->
                            <div class="d-grid mt-4">
                                <a href="#" class="btn btn-outline-dark border-2 mb-2"><i
                                        class="bi bi-facebook me-2"></i><span class="align-middle">Continue with
                                        facebook</span></a>
                                <a href="#" class="btn btn-outline-dark border-2"><i class="bi bi-google me-2"></i><span
                                        class="align-middle">Continue with google</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- footer text -->
                    <div class="mt-4 text-center">
                        <small>© <span id="copyright">Marriage Garden Dekho
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> | All Rights Reserved</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- scripts -->
    <!-- Libs JS -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>






    <!-- Theme JS -->
    <script src="../assets/js/theme.min.js"></script>

</body>


<!-- Mirrored from preview.easetemplate.com/realwed/pages/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Apr 2023 09:09:20 GMT -->

</html>